 /* colors
light pink ~ #F5A59B
darker pink ~ #EC5D53 
*/
:root {
    --ff-body: 'Satoshi', sans-serif;
    --fs-heading: 4rem;
    --fs-sub-heading: 3rem;
    --fs-body-heading: 3rem;
    --fs-body-sub-heading: 1.75rem;
    --fs-sm: 1rem;
    --fs-med: 1.2rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 1.8rem;

    /* for slider */
    
    /* default mobile size*/
    --slide-img-height: 2.5rem;
    --slide-img-width: 5rem;
    --slide-height: 8rem;
    --slide-width: 5rem;

}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #F5A59B;
    font-family: 'Satoshi', sans-serif;
    font-size: var(--fs-sm);
}

section {
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

/*#region NAV BAR*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    width: 90%;
    gap: 1.5rem;
}

nav ul .page-buttons {
    display: none;
}

nav ul li {
    font-size: var(--fs-sm);
    height: 2rem;
    margin: 0.5rem;
    font-weight: 500;
}

nav ul li:first-child {
    margin-right: auto;
    font-size: var(--fs-med);
}

#logo a:hover {
    border-bottom: none;
    color: black;
}


#contact-button {
    border-radius: 0.5rem;
    background-color: black;
    padding: 0.8rem;
    border: none;
    margin-left: 0.5rem;
    align-items: center
}

#contact-button a:hover {
    color: #EC5D53;
    border-bottom: none;
}

nav ul #contact-button a {
    color: white;
    font-size: var(--fs-sm);
}

nav a {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 100%;
}

nav a:active {
    color: black;
}

nav a:visited {
    color: black;
}


nav a:hover {
    color: #EC5D53;
    border-bottom: 1px solid #EC5D53;
}

#menu-icon a:hover {
    border-bottom: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.sidebar button {
    width: 85%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
}
.sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
}

.sidebar a:hover {
    border-bottom: none;
}

.sidebar a {
    color: black;
}
/* .sidebar a:visited {
    color: black;
} */

/*#endregion NAV BAR*/

/*#region HOME PAGE*/

.home {
    /* padding-top: 2rem; */
    /* border: 2px solid black; */
    /* margin-top: 20rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .title {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-heading);
    font-weight: 800;
}

#top-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-line p {
    flex: 0 1 auto;
    order: 2;
    font-family: "Inter", sans-serif;
    font-size: var(--fs-sub-heading);
    font-weight: 800;
    margin-right: 1rem;
}

#top-line picture {
    flex: 0 1;
    order: 1;
    max-width: 100%;
}

#top-line picture div {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;

    overflow: hidden;
}

#top-line img {
    position: relative;
    max-width: 130%;
}

.name-imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-imgs img {
    max-width: 40%;
    height: auto;
    padding: 0.5rem;
    transform: rotate(5deg);
}

#lottie-animation-container {
    height: 100%;
}

#lottie-animation1 {
    width: 10rem; 
    transform: rotate(-15deg) translateX(-4rem);
}

#calligraphy-img {
    order: 2;
    width: 20rem;
    transform: rotate(-8deg) translateX(5rem);
}

.social-icons {

    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons ul {
    gap: 0.5rem;
    list-style: none;
    display: flex;
}

.social-icons li {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid transparent;
}

.social-icons li:hover {
    border: 2px solid black;
}

.social-icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons li a img {
    width: 2.5rem;
}

/*#endregion HOME PAGE*/

/*#region ABOUT PAGE*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 2rem; */
}

.about .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.container .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* box-shadow: 2px 0px 2px hsl(0deg 0% 0% / 0.38); */
} 

.image-wrapper img {
    width: 15rem;
}

.container .text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-top: 1px solid hsl(0deg 0% 0% / 0.38);

}

.text-wrapper h1 {
    font-size: var(--fs-body-heading);
    margin-bottom: 1rem;
    align-self: center;
}

.text-wrapper p {
    font-size: var(--fs-sm);
    margin-bottom: 1rem;
}

.text-wrapper span {
    font-weight: 600;
    background: linear-gradient(90deg, rgb(114, 114, 202), rgb(250, 3, 44));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*#endregion ABOUT PAGE*/

/*#region SKILLS PAGE*/
.skills {

    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}

.skills .container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.skills .container h1 {
    font-size: var(--fs-body-heading);
}

.skills .container h2 {
    font-size: var(--fs-body-sub-heading);
}

.slider {
    width: 100%;
    height: 10rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    background: linear-gradient(90deg, rgba(236, 93, 83, 0.50) 0%, rgba(235, 235, 235, 0.50) 100.02%);
    margin-bottom: 2rem;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(235, 143, 136, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: var(--slide-height);
    position: absolute;
    width: var(--slide-width);
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    display: flex;
    width: calc(var(--slide-width)*12);
}

#left-slide-track {
    animation: autoScrollLeft 10s linear infinite;
}

#right-slide-track {
    animation: autoScrollRight 10s linear infinite;
}

.slide {
    /* border: 2px solid black; */
    height: var(--slide-height);
    width: var(--slide-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slide p {
    font-weight: 600;
}

.slide img {
    height: var(--slide-img-height);
    width: var(--slide-img-width);
}



@keyframes autoScrollLeft {
	0% { transform: translateX(0); }
	/* 100% { transform: translateX(calc(-7.25rem * 6))} */
    100% { transform: translateX(calc(var(--slide-width)*-6));}
}

@keyframes autoScrollRight {
	0% { transform: translateX(calc(var(--slide-width)*-6)); }
	/* 100% { transform: translateX(calc(-7.25rem * 6))} */
    100% { transform: translateX(0); }
}

/*#endregion SKILLS PAGE*/

/*#region PROJECTS PAGE*/
.projects {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.projects h1 {
    font-size: var(--fs-body-heading);
}


/*#endregion PROJECTS PAGE*/

/*#region MEDIA QUERIES*/

/* SMALL SIZED SCREENS*/
@media (min-width: 576px) {
    :root {
        --fs-heading: 6rem;
        --fs-sub-heading: 5rem;
        /* --fs-body-heading: 3rem;
        --fs-body-sub-heading: 2rem; */
        --fs-sm: 0.8rem;
        --fs-med: 1rem;
        --fs-lg: 1rem;
        --fs-xlg: 1.25rem;

        /* for slider */

        --slide-img-height: 4rem;
        --slide-img-width: 6.5rem;
        --slide-height: 10rem;
        --slide-width: 6.5rem;
        }
    /*#region NAV AND HOME QUERIES */
    nav ul .page-buttons {
        display: flex;
    }

    nav ul {
        padding: 1.5rem;
    }

    #menu-icon {
        display: none;
    }

    .home {
        margin-top: 2rem;
    }

    #top-line {
        flex-direction: row;
    }

    #top-line picture div {
        width: 6rem;
        height: 6rem;
    }

    #top-line p {
        order: 1;
    }
    
    #top-line picture {
        order: 2;
    }

    .name-imgs {
        flex-direction: row;
    }

    #lottie-animation1 {
        width: 10rem; 
        transform: rotate(-15deg) translateX(0);
    }

    #calligraphy-img {
        transform: translateX(0);
    }
    /*#endregion NAV AND HOME QUERIES*/

    /*#region ABOUT QUERIES */
    .image-wrapper img {
        width: 25rem;
    }
    /*#endregion ABOUT QUERIES */

    /*#region SKILLS QUERIES */
    #left-slide-track:hover, #right-slide-track:hover {
        animation-play-state: paused;
    }
    
    .slide:hover {
        transform: scale(1.1);
    }
    /*#endregion SKILLS QUERIES */
}

/* MEDIUM SIZED SCREEN */
@media (min-width: 768px) {
    :root {
        --fs-heading: 7rem;
        --fs-sub-heading: 6rem;
        --fs-body-heading: 4rem;
        --fs-body-sub-heading: 2rem;
        
        --fs-sm: 0.8rem;
        --fs-med: 1rem;

        /* for slider */
        --slide-img-height: 3rem;
        --slide-img-width: 8rem;
        --slide-height: 8rem;
        --slide-width: 8rem;

        --slide-img-height: 5rem;
        --slide-img-width: 15rem;
        --slide-height: 10rem;
        --slide-width: 15rem;
    }

    html {
        scroll-snap-type: y mandatory;
        scroll-padding: 0 10px;
    }

    section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    /*#region NAV AND HOME QUERIES */
    #top-line picture div {
        width: 7rem;
        height: 7rem;
    }

    .social-icons li a img {
        width: 2rem;
    }

    #lottie-animation1 {
        width: 12rem; 
    }

    .image-wrapper img {
        width: 20rem;
    }
    /*#endregion NAV AND HOME QUERIES */

    /*#region ABOUT QUERIES */
    .about .container {
        flex-direction: row;
    }

    .about .container .text-wrapper {
        border-left: 1px solid hsl(0deg 0% 0% / 0.38);
        border-top: none;
    }

    .text-wrapper h1 {
        font-size: var(--fs-body-heading);
    }
    
    .text-wrapper p {
        font-size: var(--fs-lg);
    }
    
    /*#endregion ABOUT QUERIES */

    /*#region SKILLS QUERIES */
    #left-slide-track:hover, #right-slide-track:hover {
        animation-play-state: paused;
    }
    
    .slide:hover {
        transform: scale(1.1);
    }
    /*#endregion SKILLS QUERIES */
}

/* LARGE SIZED SCREEN (DESKTOP) */
@media (min-width: 1000px) {
    :root {
        --fs-heading: 9rem;
        --fs-sub-heading: 8rem;
        --fs-sm: 1em;
        --fs-med: 1.2rem;
        --fs-lg: 1.5rem;
        --fs-xlg: 2rem;

        /* for slider */
        --slide-img-height: 5rem;
        --slide-img-width: 11rem;
        --slide-height: 10rem;
        --slide-width: 11rem;
    }

    /*#region NAV AND HOME QUERIES */
    #top-line picture div {
        width: 8rem;
        height: 8rem;
    }

    #lottie-animation1 {
        width: 10rem; 
    }

    .social-icons li a img {
        width: 2.5rem;
    }

    .image-wrapper img {
        width: 28rem;
    }
    /*#endregion NAV AND HOME QUERIES */
    
}


@media (min-width: 1400px) {
    :root {
        /* for slider */
        --slide-img-height: 5rem;
        --slide-img-width: 15rem;
        --slide-height: 20rem;
        --slide-width: 30rem;
    }
    
}

/*#endregion MEDIA QUERIES */