 /* colors
light pink ~ #F5A59B
darker pink ~ #EC5D53 
*/
:root {
    --ff-body: 'Satoshi', sans-serif;
    --fs-heading: 4rem;
    --fs-sub-heading: 3rem;
    --fs-body-heading: 3rem;
    /* --fs-sm: 1.5vw;
    --fs-med: 2vw;
    --fs-lg: 2.5vw;
    --fs-xlg: 3vw; */
    --fs-sm: 1rem;
    --fs-med: 1.2rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 1.8rem;
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #F5A59B;
    font-family: 'Satoshi', sans-serif;
    font-size: var(--fs-sm);
}

/*#region NAV BAR*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    width: 90%;
}

nav ul .page-buttons {
    display: none;
}

nav ul li {
    font-size: var(--fs-sm);
    height: 2rem;
    margin: 0.5rem;
    font-weight: 500;
}

nav ul li:first-child {
    margin-right: auto;
    font-size: var(--fs-med);
}

#logo a:hover {
    border-bottom: none;
    color: black;
}


#contact-button {
    border-radius: 0.5rem;
    background-color: black;
    padding: 0.4rem;
    border: none;
    margin-left: 0.5rem;
    align-items: center
}

#contact-button a:hover {
    color: #EC5D53;
    border-bottom: none;
}

nav ul #contact-button a {
    color: white;
    font-size: var(--fs-sm);
}

nav a {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 100%;
}

nav a:active {
    color: black;
}

nav a:visited {
    color: black;
}


nav a:hover {
    color: #EC5D53;
    border-bottom: 1px solid #EC5D53;
}

#menu-icon a:hover {
    border-bottom: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

.sidebar button {
    width: 85%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem;
}
.sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5px);
}

.sidebar a:hover {
    border-bottom: none;
}
/*#endregion NAV BAR*/


/*#region HOME PAGE*/
.home {
    /* margin-top: 7rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home .title {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-heading);
    font-weight: 800;
}

#top-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-line p {
    flex: 0 1 auto;
    order: 2;
    font-family: "Inter", sans-serif;
    font-size: var(--fs-sub-heading);
    font-weight: 800;
    margin-right: 1rem;
}

#top-line picture {
    flex: 0 1;
    order: 1;
    max-width: 100%;
}

#top-line picture div {
    width: 7rem;
    height: 7rem;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;

    overflow: hidden;
}

#top-line img {
    position: relative;
    max-width: 130%;
}

.name-imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.name-imgs img {
    max-width: 40%;
    height: auto;
    padding: 0.5rem;
    transform: rotate(5deg);
}

#lottie-animation-container {
    height: 100%;
}

#lottie-animation1 {
    /* position: absolute; */
    width: 20rem; 
    transform: rotate(-15deg) translateX(-2rem);
}

#calligraphy-img {
    order: 2;
    max-width: 17rem;
    transform: rotate(-8deg) translateX(5rem);
}

.social-icons {
    margin-top: 2.5rem;
    max-width: 100%;
    /* border: 2px solid black; */
    display: flex;
    gap: 0.4rem;
}

.social-icons a {
    padding: 0.2rem;
    display: flex;
    border: 1px solid transparent;
    border-radius: 50%;
    align-items: center;
}

.social-icons a:hover {
    border: 2px solid black;
}

.social-icons a img {
    width: 2.5rem;
}
/*#endregion HOME PAGE*/

.about {
    margin-top: 10vh;
    width: 100%;
}
.about .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 3.5rem;
    gap: 2rem;
}

.container .image-wrapper {
    flex-basis: 40%;
} 

.image-wrapper img {
    max-width: 100%;
}

.container .text-wrapper {
    flex-basis: 60%;
}

.text-wrapper h1 {
    font-size: var(--fs-body-heading);
    margin-bottom: 1rem;
}

.text-wrapper p {
    margin-bottom: 1rem;
}



/*#region MEDIA QUERIES */

/* SMALL SIZED SCREENS */
@media (min-width: 576px) {
    :root {
        --fs-heading: 6rem;
        --fs-sub-heading: 5rem;
        --fs-body-heading: 3rem;
        --fs-sm: 0.8rem;
        --fs-med: 1rem;
        --fs-lg: 1rem;
        --fs-xlg: 1.25rem;
    }

    nav ul .page-buttons {
        display: flex;
    }

    nav ul {
        padding: 1rem;
    }

    #menu-icon {
        display: none;
    }

    .home {
        margin-top: 2rem;
    }

    #top-line {
        flex-direction: row;
    }

    #top-line picture div {
        width: 5.5rem;
        height: 5.5rem;
    }

    #top-line p {
        order: 1;
    }
    
    #top-line picture {
        order: 2;
    }

    .name-imgs {
        flex-direction: row;
    }

    #lottie-animation1 {
    /* position: absolute; */
        width: 10rem; 
        transform: rotate(-15deg) translateX(0);
    }

    #calligraphy-img {
        width: 12rem;
        transform: translateX(0);
    }

}

/* MEDIUM SIZED SCREEN */
@media (min-width: 768px) {
    :root {
        --fs-heading: 8rem;
        --fs-sub-heading: 7rem;
        --fs-body-heading: 4rem;
        --fs-sm: 0.8rem;
        --fs-med: 1rem;
        /* --fs-lg: 1.5rem;
        --fs-xlg: 2rem; */
    }

    #top-line picture div {
        width: 6rem;
        height: 6rem;
    }

    .social-icons a img {
        width: 3rem;
    }

}

/* LARGE SIZED SCREEN (DESKTOP) */
@media (min-width: 1000px) {
    :root {
        --fs-heading: 9rem;
        --fs-sub-heading: 8rem;
        --fs-body-heading: 3rem;
        --fs-sm: 0.8rem;
        --fs-med: 1rem;
        --fs-lg: 1.5rem;
        --fs-xlg: 2rem;
    }

    #top-line picture div {
        width: 7.5rem;
        height: 7.5rem;
    }

    #lottie-animation1 {
        /* position: absolute; */
            width: 15rem; 
        }
    
        #calligraphy-img {
            width: 20rem;
        }

        .social-icons a img {
            width: 3.5rem;
        }
    
}
/*#endregion MEDIA QUERIES */